<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_0000_grinder_idle0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,219}</string>
                <key>spriteSourceSize</key>
                <string>{163,219}</string>
                <key>textureRect</key>
                <string>{{0,0},{163,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0001_grinder_idle0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,219}</string>
                <key>spriteSourceSize</key>
                <string>{163,219}</string>
                <key>textureRect</key>
                <string>{{163,0},{163,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0002_grinder_idle0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,219}</string>
                <key>spriteSourceSize</key>
                <string>{163,219}</string>
                <key>textureRect</key>
                <string>{{326,0},{163,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0003_grinder_idle0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,219}</string>
                <key>spriteSourceSize</key>
                <string>{163,219}</string>
                <key>textureRect</key>
                <string>{{489,0},{163,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0004_grinder_idle0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,219}</string>
                <key>spriteSourceSize</key>
                <string>{163,219}</string>
                <key>textureRect</key>
                <string>{{652,0},{163,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0005_grinder_idle0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,219}</string>
                <key>spriteSourceSize</key>
                <string>{163,219}</string>
                <key>textureRect</key>
                <string>{{0,219},{163,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0006_grinder_idle0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,219}</string>
                <key>spriteSourceSize</key>
                <string>{163,219}</string>
                <key>textureRect</key>
                <string>{{163,219},{163,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0007_grinder_idle0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,219}</string>
                <key>spriteSourceSize</key>
                <string>{163,219}</string>
                <key>textureRect</key>
                <string>{{326,219},{163,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0008_grinder_idle0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,219}</string>
                <key>spriteSourceSize</key>
                <string>{163,219}</string>
                <key>textureRect</key>
                <string>{{489,219},{163,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0009_grinder_idle0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,219}</string>
                <key>spriteSourceSize</key>
                <string>{163,219}</string>
                <key>textureRect</key>
                <string>{{652,219},{163,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0010_grinder_idle0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,219}</string>
                <key>spriteSourceSize</key>
                <string>{163,219}</string>
                <key>textureRect</key>
                <string>{{0,438},{163,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0011_grinder_idle0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,219}</string>
                <key>spriteSourceSize</key>
                <string>{163,219}</string>
                <key>textureRect</key>
                <string>{{163,438},{163,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0012_grinder_idle0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,219}</string>
                <key>spriteSourceSize</key>
                <string>{163,219}</string>
                <key>textureRect</key>
                <string>{{326,438},{163,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0013_grinder_idle0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,219}</string>
                <key>spriteSourceSize</key>
                <string>{163,219}</string>
                <key>textureRect</key>
                <string>{{489,438},{163,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0014_grinder_idle0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,219}</string>
                <key>spriteSourceSize</key>
                <string>{163,219}</string>
                <key>textureRect</key>
                <string>{{652,438},{163,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0015_grinder_idle0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,219}</string>
                <key>spriteSourceSize</key>
                <string>{163,219}</string>
                <key>textureRect</key>
                <string>{{0,657},{163,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0016_Layer-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,219}</string>
                <key>spriteSourceSize</key>
                <string>{163,219}</string>
                <key>textureRect</key>
                <string>{{163,657},{163,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Mill_Active.png</string>
            <key>size</key>
            <string>{876,876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94bace2540435307414cfd122cb4d0f9:e9dfec418fd903e9030218b6ca3bd206:5d5f2ad1944ab35e47ff42794d3bb1ba$</string>
            <key>textureFileName</key>
            <string>Mill_Active.png</string>
        </dict>
    </dict>
</plist>
