<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Crop_SugarCane1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,132}</string>
                <key>spriteSourceSize</key>
                <string>{153,132}</string>
                <key>textureRect</key>
                <string>{{115,0},{153,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crop_SugarCane2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,202}</string>
                <key>spriteSourceSize</key>
                <string>{209,202}</string>
                <key>textureRect</key>
                <string>{{268,0},{209,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crop_SugarCane3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,396}</string>
                <key>spriteSourceSize</key>
                <string>{338,396}</string>
                <key>textureRect</key>
                <string>{{0,248},{338,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crop_Wheat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,149}</string>
                <key>spriteSourceSize</key>
                <string>{115,149}</string>
                <key>textureRect</key>
                <string>{{0,0},{115,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crop_Wheat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,248}</string>
                <key>spriteSourceSize</key>
                <string>{242,248}</string>
                <key>textureRect</key>
                <string>{{477,0},{242,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crop_Wheat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,351}</string>
                <key>spriteSourceSize</key>
                <string>{354,351}</string>
                <key>textureRect</key>
                <string>{{338,248},{354,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Crops.png</string>
            <key>size</key>
            <string>{719,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59aab5fb47473de4f3fbf920c49c8fcd:128eb73860747269d01ac095656eeaf7:0e5af01c170c14fe5fe55f2663f17211$</string>
            <key>textureFileName</key>
            <string>Crops.png</string>
        </dict>
    </dict>
</plist>
