<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Crop_Wheat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,149}</string>
                <key>spriteSourceSize</key>
                <string>{115,149}</string>
                <key>textureRect</key>
                <string>{{0,0},{115,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crop_Wheat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,248}</string>
                <key>spriteSourceSize</key>
                <string>{242,248}</string>
                <key>textureRect</key>
                <string>{{115,0},{242,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crop_Wheat3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,351}</string>
                <key>spriteSourceSize</key>
                <string>{354,351}</string>
                <key>textureRect</key>
                <string>{{0,248},{354,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Crop_Wheat.png</string>
            <key>size</key>
            <string>{357,599}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6036296b860d385e7511ef6b3a539f21:2b0ebc2817cf4d9dd0b4910053cd0d83:3a8750b04f94d582a390079b28f02cde$</string>
            <key>textureFileName</key>
            <string>Crop_Wheat.png</string>
        </dict>
    </dict>
</plist>
