<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Crop_SugarCane1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,132}</string>
                <key>spriteSourceSize</key>
                <string>{153,132}</string>
                <key>textureRect</key>
                <string>{{0,0},{153,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crop_SugarCane2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,202}</string>
                <key>spriteSourceSize</key>
                <string>{209,202}</string>
                <key>textureRect</key>
                <string>{{153,0},{209,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Crop_SugarCane3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,396}</string>
                <key>spriteSourceSize</key>
                <string>{338,396}</string>
                <key>textureRect</key>
                <string>{{0,202},{338,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Crop_SugarCane.png</string>
            <key>size</key>
            <string>{362,598}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07a59a54e9f778c2cb151651e18cfb38:ddbcf9182beef449b336fc5cac09febd:323fe87bca02feb10514424651384ffa$</string>
            <key>textureFileName</key>
            <string>Crop_SugarCane.png</string>
        </dict>
    </dict>
</plist>
