<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_Icon_Crop_SugarCane.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,51}</string>
                <key>spriteSourceSize</key>
                <string>{54,51}</string>
                <key>textureRect</key>
                <string>{{0,0},{54,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_Icon_Crop_Wheat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,59}</string>
                <key>spriteSourceSize</key>
                <string>{50,59}</string>
                <key>textureRect</key>
                <string>{{0,51},{50,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>UI_Icon_Crop.png</string>
            <key>size</key>
            <string>{54,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cab33e0b00cec19da760473f187e6f04:9a570f84ae820aaff199de01c5dc2671:7353d5c07fa5819927b0741f915857f9$</string>
            <key>textureFileName</key>
            <string>UI_Icon_Crop.png</string>
        </dict>
    </dict>
</plist>
