<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_0000_bakery_idle0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,388}</string>
                <key>spriteSourceSize</key>
                <string>{282,388}</string>
                <key>textureRect</key>
                <string>{{0,0},{282,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0001_bakery_idle0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,388}</string>
                <key>spriteSourceSize</key>
                <string>{282,388}</string>
                <key>textureRect</key>
                <string>{{282,0},{282,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0002_bakery_idle0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,388}</string>
                <key>spriteSourceSize</key>
                <string>{282,388}</string>
                <key>textureRect</key>
                <string>{{564,0},{282,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0003_bakery_idle0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,388}</string>
                <key>spriteSourceSize</key>
                <string>{282,388}</string>
                <key>textureRect</key>
                <string>{{0,388},{282,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0004_bakery_idle0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,388}</string>
                <key>spriteSourceSize</key>
                <string>{282,388}</string>
                <key>textureRect</key>
                <string>{{282,388},{282,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0005_bakery_idle0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,388}</string>
                <key>spriteSourceSize</key>
                <string>{282,388}</string>
                <key>textureRect</key>
                <string>{{564,388},{282,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0006_bakery_idle0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,388}</string>
                <key>spriteSourceSize</key>
                <string>{282,388}</string>
                <key>textureRect</key>
                <string>{{0,776},{282,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0007_bakery_idle0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,388}</string>
                <key>spriteSourceSize</key>
                <string>{282,388}</string>
                <key>textureRect</key>
                <string>{{282,776},{282,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0008_bakery_idle0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,388}</string>
                <key>spriteSourceSize</key>
                <string>{282,388}</string>
                <key>textureRect</key>
                <string>{{564,776},{282,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0009_bakery_idle0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,388}</string>
                <key>spriteSourceSize</key>
                <string>{282,388}</string>
                <key>textureRect</key>
                <string>{{0,1164},{282,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0010_bakery_idle0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,388}</string>
                <key>spriteSourceSize</key>
                <string>{282,388}</string>
                <key>textureRect</key>
                <string>{{282,1164},{282,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Bakery_Active.png</string>
            <key>size</key>
            <string>{846,1552}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2067b4eaf4164ac0ab83b7026c4e210c:8389f2d2f1ce2630801f0f102df0fc61:476d0da820c7eec1e634ad174b43eab6$</string>
            <key>textureFileName</key>
            <string>Bakery_Active.png</string>
        </dict>
    </dict>
</plist>
